<!DOCTYPE html>
<html lang="en" ng-app="loginApp" ng-controller="loginCtrl">
    <head>
        <title>Watcher Login</title>
        <!-- CSS -->
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Top content -->
        <div class="container">
            <div class="top-content">
                <div class="inner-bg">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to our site</h3>
                                    <p>Enter your username and password to log on:</p>
                                </div>
                                <div class="form-top-right"></div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" ng-submit="login()" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username" ng-model="user.login"></div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="user.pwd">
                                    </div>
                                    <div class="form-group">
                                        <p>Login:
                                            <span ng-bind="user.login"></span>
                                        </p>
                                        <p>Password:
                                            <span ng-bind="user.pwd"></span>
                                        </p>
                                        <span class="label label-warning">{{errorMessage}}</span>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn" ng-click="logAuthObject(user)">Lets go!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Javascript Libs-->
        <script src="lib/jquery.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>

        <!-- Javascript App-->
        <script src="js/application/LoginApp.js"></script>
        <script src="js/controllers/LoginController.js"></script>
        <script src="js/services/AuthService.js"></script>
    </body>
</html>
